*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navabar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  background: rgba(0, 10, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: 0.3s;
  animation: navbaranimation 1s ease forwards;
}

.navabar.scrolled {
  background-color: white;
}

@keyframes navbaranimation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav-left {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 50px;
  cursor: pointer;
}

.nav-center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-center ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-center li a {
  font-family: var(--font);
  font-size: 16px;
  text-decoration: none;
  color: #1e2925b2;
  letter-spacing: 0.8px;
}

.nav-center li a:hover {
  color: gray;
}

.nav-center .dropdown {
  position: absolute;
  top: 50px;
  width: 200px;
  background: white;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.drop.open .dropdown {
  max-height: 400px;
  padding: 5px 0;
}

.dropdown li {
  padding: 8px 30px;
  width: 90%;
  margin-left: 10px;
  border-radius: 5px;
}

.dropdown li:hover {
  background-color: rgb(234, 232, 232);
}

.dropdown li a {
  font-family: var(--font-second);
  font-size: 15px;
  font-weight: bold;
}

.nav-span {
  color: #1e2925;
  font-family: var(--font);
  font-size: 16px;
}

.Get-btn {
  border: none;
  padding: 12px 22px;
  color: white;
  background-color: #2c5828;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.Get-btn:hover {
  padding: 15px 25px;
}

.hamburger {
  display: none;
}